[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
openstacksdk = "*"
flask-restx = "*"
flask-sqlalchemy = "*"
cachetools = "*"

[requires]
python_version = "3.8"
