[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
openstacksdk = "*"
sqlalchemy = "*"
grpcio = "*"
grpcio-tools = "*"
pyjwt = "*"
pymysql = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
